<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">
    <div layout:fragment = "contentPart">
        <div class="row mb-5">
            <div class="col-sm-6 offset-3">
                <form th:action = "@{'/auth'}" method="post">
                    <div class="form-group">
                        <label>
                            EMAIL:
                        </label>
                        <input type="email" name="user_email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label th:text="#{label.password}"></label>
                        <input type="password" name="user_password" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" th:text="#{label.signin}">SIGN IN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>